{% extends 'core/base.html' %}

{% block titulo %}Acerca de Finanzas{% endblock %}

{% block main %}
{% include 'core/menu.html' %}

{% load humanize %}


<section class="container mt-5">
    <div class="row justify-content-center md-4">
        <form id="formulario" method="post" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded m-4">
            {% csrf_token %}
            <h1 class="display-5 text-center mt-5"><b>Calculadora</b></h1>
            <div class="row justify-content-center">
                <div class="form-floating mb-4 col-md-4">
                    {{ formulario.salario }}
                    <label for="salario básico">Ingrese el valor de su salario básico</label>
                </div>
                <div class="form-floating mb-4 col-md-4">
                    {{ formulario.dias}}
                    <label for="Días trabajados">Ingrese el valor de los días trabajados</label>
                </div>
            </div>

            <!-- <div class="form-floating mb-3 col-md-4">
                {{formulario.solidario}}
                <label for="Bono solidario">Porcentaje bono solidario</label>
            </div> -->
            <!-- <div class="form-floating mb-3 col-md-4">
                {{ formulario.salario_dias}}
                <label for="salario días">salario días trabajados</label>
            </div>
            <div class="form-floating mb-3 col-md-4">
                {{ formulario.transporte}}
                <label for="transporte">Cálculo del transporte</label>
            </div>
            <div class="form-floating mb-3 col-md-4">
                {{ formulario.total_devengado}}
                <label for="total devengado">Cálculo total devengado</label>
            </div>
            <div class="form-floating mb-3 col-md-4">
                {{ formulario.salud}}
                <label for="Cálculo salud">Cálculo de salud</label>
            </div>
            <div class="form-floating mb-3 col-md-4">
                {{ formulario.pension}}
                <label for="Cálculo pensión">Cálculo de la pensión</label>
            </div>
            <div class="form-floating mb-3 col-md-4">
                {{ formulario.bono_solidario}}
                <label for="Cálculo bono solidario">Cálculo del descuento de bono solidario</label>
            </div>
            <div class="form-floating mb-3 col-md-4">
                {{ formulario.base_gravada}}
                <label for="Cálculo base grabada">Cálculo de base grabada</label>
            </div>
            <div class="form-floating mb-3 col-md-4">
                {{ formulario.renta_excenta}}
                <label for="Cálculo renta exenta">Cálculo de renta exenta</label>
            </div>
            <div class="form-floating mb-3 col-md-4">
                {{ formulario.base_retefuente}}
                <label for="Cálculo base retefuente">Cálculo de base retefuente</label>
            </div>
            <div class="form-floating mb-3 col-md-4">
                {{ formulario.base_retefuenteuvt}}
                <label for="Cálculo base retefuente UVT">Cálculo de base retefuente UVT</label>
            </div>
            <div class="form-floating mb-3 col-md-4">
                {{ formulario.porcentaje_retefuente}}
                <label for="Cálculo de porcentaje retefuente">Cálculo de porcentaje retefuente</label>
            </div> -->
            <div class="row justify-content-center mb-5">
                <button type="reset" class="btn btn-outline-dark col-md-4 mx-3">Cancelar</button>
                <button type="submit" class="btn btn-dark col-md-4 mx-3">Calcular</button>
            </div>
        </form>

        <div class="resultados bg-sucess mt-5 mb-5">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        De acuerdo a tus ingresos tu colilla de pago debería contener la siguiente información:
                    </p>
                </div>
                <div class="col-md-4">
                    <p> Total a devengar: ${{ resultado | intcomma }}</p>
                </div>
                <div class="col-md-4">
                    <p>Auxilio de transporte: </p>
                    <!-- {% if transporte != 0 %} -->
                    <p>${{ transporte |intcomma }}</p>
                    <!-- {% endif %} -->
                </div>
                <div class="col-md-4">
                    <p>Total bono solidario: ${{ solidario|intcomma }}</p>
                </div>
                <div class="col-md-4">
                    <p> Retefuente: ${{ retefuente|intcomma }}</p>
                </div>
                <div class="col-md-4">
                    <p> Total salud: ${{ salud|intcomma}}</p>
                </div>
                <div class="col-md-4">
                    <p> Total pension: ${{ pension|intcomma }}</p>
                </div>
                <div class="col-md-4">
                    <p> total base gravada: ${{ baseGravada|intcomma}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% load %}

{% include 'core/footer.html' %}
{% endblock %}