{% extends 'core/base.html' %}

{% block titulo %}Acerca de Finanzas{% endblock %}

{% block main %}
{% include 'core/menu.html' %}

{% load humanize %}


<section class="container mt-5">
    <div class="row justify-content-center md-4">
        <form id="formulario" method="post" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded m-4">
            {% csrf_token %}
            <h1 class="display-5 text-center mt-5"><b>Calculadora</b></h1>
            <div class="row justify-content-center">
                <div class="form-floating mb-4 col-md-4">
                    {{ formulario.salario}}
                    <label for="salario básico">Ingrese el valor de su salario básico</label>
                </div>
                <div class="form-floating mb-4 col-md-4">
                    {{ formulario.dias}}
                    <label for="Días trabajados ">Ingrese el valor de los días trabajados</label>
                </div>
                <h3 class="text-center mt-4">Horas extras</h3>
                <div class="row justify-content-center">
                    <div class="form-floating mb-4 col-md-4">
                        {{ formulario.hora_extra_diurna }}
                        <label for="hora_extra_diurna">Horas extras diurnas</label>
                    </div>
                    <div class="form-floating mb-4 col-md-4">
                        {{ formulario.hora_extra_nocturna }}
                        <label for="hora_extra_nocturna">Horas extras nocturnas</label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-floating mb-4 col-md-4">
                        {{ formulario.hora_extra_dominical_festiva_diurna }}
                        <label for="hora_extra_dominical_festiva_diurna">Horas extras dominicales/festivas
                            diurnas</label>
                    </div>
                    <div class="form-floating mb-4 col-md-4">
                        {{ formulario.hora_extra_dominical_festiva_nocturna }}
                        <label for="hora_extra_dominical_festiva_nocturna">Horas extras dominicales/festivas
                            nocturnas</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <button type="reset" class="btn btn-outline-dark col-md-4 mx-3">Cancelar</button>
                <button type="submit" class="btn btn-dark col-md-4 mx-3">Calcular</button>
            </div>
        </form>
        {% if resultado != null %}
        <div class="resultados bg-light p-3 rounded mt-5 mb-5">
           
            <div class="row">
                <div class="col-md-12">
                    <p class="fw-bold text-dark">
                        De acuerdo a tus ingresos tu colilla de pago debería contener la siguiente información:
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p class="text-dark"><b>Devengado:</b></p>
                    </div>
                    <div class="col-md-4 fw-bold text-warning-emphasis">
                    </div>
                    <div class="col-md-2">
                        <p class="text-dark"><b>Deducciones:</b></p>
                    </div>
                    <div class="col-md-4 fw-bold text-danger">
                    </div>
                </div>
                <div class="col-md-2 text-dark">
                    <p>Auxilio de transporte:</p>
                    <p>Hora extra diurna:</p>
                    <p>Hora extra nocturna:</p>
                    <p>Hora extra dominical/festiva diurna:</p>
                    <p>Hora extra dominical/festiva nocturna:</p>
                    <p>Total horas extras:</p>
                </div>
                <div class="col-md-4 fw-bold text-warning-emphasis">
                    {% if transporte != 0 %}
                    <p>${{ transporte |intcomma }}</p>
                    {% endif %}
                    {% if extra_diurna != 0 %}
                    <p>${{ extra_diurna | intcomma }}</p>
                    {% endif %}
                    {% if extra_nocturna != 0 %}
                    <p>${{ extra_nocturna | intcomma }}</p>
                    {% endif %}
                    {% if extra_dominical_festiva_diurna != 0 %}
                    <p>${{ extra_dominical_festiva_diurna | intcomma }}</p>
                    {% endif %}
                    {% if extra_dominical_festiva_nocturna != 0 %}
                    <p>${{ extra_dominical_festiva_nocturna | intcomma }}</p>
                    {% endif %}
                    {% if total_extras != 0 %}
                    <p>${{ total_extras | intcomma }}</p>
                    {% endif %}
                </div>
                <div class="col-md-2 text-dark">
                    <p>Total bono solidario:</p>
                    <p>Retefuente:</p>
                    <p>Total salud:</p>
                    <p>Total pension:</p>
                    <p>Total base gravada:</p>
                </div>
                <div class="col-md-4 fw-bold text-danger">
                    <p>${{ solidario|intcomma }}</p>
                    <p>${{ retefuente|intcomma }}</p>
                    <p>${{ salud|intcomma}}</p>
                    <p>${{ pension|intcomma }}</p>
                    <p>${{ baseGravada|intcomma}}</p>
                </div>
                    <div class="col-md-2 text-dark">
                        <p>Total a devengar:</p>
                    </div>
                    <div class="col-md-4 fw-bold text-success">
                        <p>${{ resultado | intcomma }}</p>
                    </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% load %}

{% include 'core/footer.html' %}
{% endblock %}