{% extends 'core/base.html' %}

{% block titulo %}Acerca de Finanzas{% endblock %}

{% block main %}
{% include 'core/menu.html' %}


      <section class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <form id="formulario" method="post"  method="post" class="col-5">
                <h1 class="display-5 text-center">Calculadora</h1>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="Salario básico" placeholder="">
                    <label for="Salario básico">Ingrese el valor de su salario básico</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="Días trabajados" placeholder="">
                    <label for="Días trabajados">Ingrese el valor de los días trabajados</label>
                </div>
                <div class="form-floating mb-3">
                        <input type="number" class="form-control" name="Bono solidario" placeholder="">
                        <label for="Bono solidario">Porcentaje bono solidario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="Salario días" placeholder="">
                    <label for="Salario días">Salario días trabajados</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="transporte" placeholder="">
                    <label for="transporte">Cálculo del transporte</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="total devengado" placeholder="">
                    <label for="total devengado">Cálculo total devengado</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="Cálculo salud" placeholder="">
                    <label for="Cálculo salud">Cálculo de salud</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="Cálculo pensión" placeholder="">
                    <label for="Cálculo pensión">Cálculo de la pensión</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="Cálculo bono solidario" placeholder="">
                    <label for="Cálculo bono solidario">Cálculo del descuento de bono solidario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="Cálculo base grabada" placeholder="">
                    <label for="Cálculo base grabada">Cálculo de base grabada</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="Cálculo renta exenta" placeholder="">
                    <label for="Cálculo renta exenta">Cálculo de renta exenta</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="Cálculo base retefuente" placeholder="">
                    <label for="Cálculo base retefuente">Cálculo de base retefuente</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="Cálculo base retefuente UVT" placeholder="">
                    <label for="Cálculo base retefuente UVT">Cálculo de base retefuente UVT</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="Cálculo de porcentaje retefuente" placeholder="">
                    <label for="Cálculo de porcentaje retefuente">Cálculo de porcentaje retefuente</label>
                </div>
                  <button type="submit" class="btn btn-dark col-12 mt-3">Enviar</button>
                  <button type="reset" class="btn btn-dark col-12 mt-3">Cancelar</button>
            </form>
        </div>
      </section>
   


{% include 'core/footer.html' %}
{% endblock %}