{% extends 'core/base.html' %}
{% load static%}
{% block titulo %}Equipo Desarrollador{% endblock %}
{% block main %}
{% include 'core/menu.html' %}
<!-- Vamos a tener todo el código HTML -->
<section class="container col-md-12 mt-4">
  <div id="team" class="section scrollspy" style="text-align: center;">
    <h1 class="header mb-3">Equipo de trabajo</h1>
    <p class="caption fs-5">Impulsados por la colaboración y el deseo de ayudar, hemos creado esta página web. Combinamos nuestra pasión por el código con el objetivo de brindar herramientas útiles como una calculadora de nómina y recursos de finanzas personales, facilitando el bienestar financiero de los demás.</p>
    <div class="center">
      <div class="image-container">
        <img src="{% static 'img/team.jpg' %}" style="width:100%;">
      </div>
    </div>
    <br>
</section>
    <section class="container col-md-12 mt-4">
        <div class="row mt-4 mb-4">
          <div class="col-md-3">
            <img src="{% static 'img/yuli.jpeg' %}" class="rounded-circle col-md-12">
          </div>
          <div class="col align-self-center">
            <h4>Yulieth Moreno Caballero</h4>
            <p>Soy una profesional en Administración de Empresas con una visión integral de la vida, donde el bienestar personal y el éxito financiero se entrelazan. Mi formación académica me ha proporcionado una base sólida en gestión y planificación, habilidades que aplico tanto en mi carrera como en mis finanzas personales.</p>
          </div>
        </div>
        <hr class="divider-black justify-content-center">
        <div class="row  mt-4 mb-4">
          <div class="col-md-3">
            <img src="{% static 'img/laura.jpg' %}" class="rounded-circle col-md-12">
          </div>
          <div class="col align-self-center">
            <h4>Laura Galeano</h4>
            <p>Soy una Comunicadora Social apasionada por la creación de contenido audiovisual impactante y
              significativo. Me caracterizo por mi paciencia, escucha activa y capacidad para transformar ideas en productos audiovisuales de alta calidad.</p>
          </div>
        </div>
        <hr class="divider-black justify-content-center">
        <div class="row mb-4">
          <div class="col-md-3">
            <img src="{% static 'img/Paula.jpeg' %}" class="rounded-circle col-md-12">
          </div>
          <div class="col align-self-center">
            <h4>Paula Martínez</h4>
            <p>Diseñadora Gráfica con amplia experiencia en la creación de soluciones visuales impactantes y efectivas. Mi pasión por la fotografía, la ilustración y la publicidad me permiten abordar cada proyecto con una perspectiva única y creativa. Además, poseo sólidas habilidades de liderazgo y apoyo estratégico, lo que me permite guiar equipos y contribuir al éxito de proyectos complejos.</p>
          </div>
        </div>
        <hr class="divider-black justify-content-center">
        <div class="row mb-4">
          <div class="col-md-3">
            <img src="{% static 'img/dani.jpeg' %}" class="rounded-circle col-md-12">
          </div>

          <div class="col align-self-center">
            <h4>Karla Daniela</h4>
            <p>Soy un auxiliar de recursos humanos con una sólida base en nomina. Me caracterizo por ser una persona
              confiable, con un alto sentido de la responsabilidad y una gran disposición para ayudar a los demás.</p>
          </div>
        </div>
        <hr class="divider-black justify-content-center">
        <div class="row mb-4">
          <div class="col-md-3">
            <img src="{% static 'img/juan.jpg' %}" class="rounded-circle col-md-12">
          </div>
          <div class="col align-self-center">
            <h4>Juan David García</h4>
            <p>Soy un analista de sistemas con una sólida formación en Tecnólogo en Análisis y desarrollo. Me
              caracterizo por mi capacidad analítica, atención al detalle y mi compromiso con el trabajo en equipo.
              Además, tengo un gran interés en ayudar a los demás, lo que me impulsa a buscar soluciones efectivas y a
              brindar un apoyo constante a mis compañeros y usuarios.</p>
          </div>
        </div>
      </div>
    </section>

{% include 'core/footer.html' %}
{% endblock %}