* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 20px 20px;
    font-size: 16px;
}


.logo img {
    width: 120px;
    margin-left: 20px;
}


.nav {
    color: #ffffff;
}

nav ul {
    list-style: none;
    display: flex;
}


nav ul li {
    margin: 0.20px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: left;
    padding: 0px 20px;
    font-size: 16px;
}


nav ul li a:hover {
    color: rgb(255, 255, 255) !important;
    background-color: #7e5b00;
}


.imagenprincipal1 {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.imagenprincipal2 {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.imagenprincipal3 {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.frase1 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.frase2 {
    position: absolute;
    top: 35%;
    left: 28%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.frase3 {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.py-md-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
